<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="/static/styles/stylesLogin.css">
</head>
<body>
    <div class="circle"></div> 
    <div class="circle-bottom-right"></div> 
    <div class="container mt-5">
        <div class="Login">
            <h2>Вход в систему</h2>
            <div class="inputBx">
                <input type="text" placeholder="Логин">
            </div>
            <div class="inputBx">
                <input type="password" placeholder="Пароль">
            </div>
            <div class="inputBx">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
            <div class="Links">
                <a href="/forgot-password.html">Забыли пароль?</a>

            </div>
            <div class="Links">
                <a href="/templates/register.html">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</body>
</html>